<h1>Invoice <%= @invoice.number %></h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% @invoice.items.each do |item| %>
      <tr>
        <td><%= item.description %></td>
        <td><%= item.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
