<!-- top general alert -->
<div class="alert alert-danger top-general-alert">
  <span>
    If you <strong>can't see the logo</strong> on the top left, please reset the style on right style switcher (for upgraded theme only).
  </span>
  <button type="button" class="close">&times;</button>
</div>
<!-- end top general alert -->
